<h1> Add a NEW task </h1>
<% @task.errors.full_messages.each do |message| %>
  <p class="text-danger"><%= message %></p>
<% end %>
<%= form_with model: @task do |t| %>
  <%= t.label :title %>
  <%= t.text_field :title, class: 'form-control' %>
  <%= t.label :details %>
  <%= t.text_field :details, class: 'form-control' %>
  <%= t.submit class: 'btn btn-primary mt-2' %>
<% end %>

<%= link_to 'Back to Tasks', tasks_path %>
